*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: #fff;
}
body { font-family: 'Arial'; }
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.left_side{
    width: 25%;
}
.home_side{
    border: 1px solid #fff;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.float_box{
    width: 50vw;
    position: fixed;
    bottom: 10%;
    border-radius: 20px;
    box-shadow: 0px 1px 20px 2px #fff;
    color: #fff;
    padding: 10px;
}
.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.input_text{
    width: 100vw;
    height: 100px;
    border: none;
    outline: none;
    font-size: large;
    font-weight: 600;
}
.btn{
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: #303030;
    border-radius: 50%;
    font-size: large;
}
.btn:hover{
    background-color: #424242;
}